---
// import { getCollection } from "astro:content"
const {title, description, keywords, subtext} = Astro.props;
// const cards = await getCollection("terms");
---

<div class="card-container" id="cardContainer">
    <div class="card" 
         data-title={title} 
         data-description={description.texts.join('\n\n')} 
         data-image-url={description.image} 
         data-resource-url={description.references[0]}
         data-keywords={(keywords || []).join(', ')}>
      <div class="card-title">{title}</div>
      <div class="card-subtext">{subtext}</div>
      <button class="explain-button">Explain</button>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal">
  <div id="modal-content">
    <div id="modal-body"></div>
  </div>
</div>

<!--Script that handles card actions like onclick on card, explain button and modal actions -->
<script is:inline src="/card-actions.js"></script>